header{
    display: flex;
    justify-content: center;
    height: 63px;
    background-color: var(--header-background);
    width: 100%;
    nav{
        display: flex;
        justify-content: space-between;
        width:371px;
    }
    ul{
        width: 117px;
        display: flex;
        justify-content: space-between;
        font-size:em(7px);
    }
    span{
        color:#464b5e;
    }
}
 header li{
     display: inline;
 }