header{
    display: flex;
    justify-content: center;
    height: 63px;
    background-color: var(--header-background);
    width: 100%;
    nav{
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        width:371px;
        font-family: 'Lato', sans-serif;
    }
    ul{
        color:#e4e4e4;
        text-transform: uppercase;
        width: 117px;
        display: flex;
        justify-content: space-between;
        font-size:em(9px);
    }
    span{
        color:#464b5e;
    }
   
}
header + div{
    display: flex;
    justify-content: center;
    .triangle{
            width: 0; 
            height: 0; 
            border-left: 45px solid transparent;
            border-right: 45px solid transparent;  
            border-top: 26px solid #2f2f2f;
            max-width: 90px;
            background-color: white;
            z-index: 1;
            
           
    }
}
.border-bottom{
    position: relative;
    bottom: 10px;
    border-bottom: 1px solid #e4e9eb;
}
 header li{
     display: inline;
 }
 .active{
     color:#2c917d;
 }
