.images{
    min-height: 206px;  
    display: flex;
    justify-content: center;
    // align-content:center;
    flex-wrap: wrap;
    .image{
        width:180px;
        height: 206px;
        overflow-x: auto;
        overflow-y: auto;
        overflow: hidden;
        border: 1px solid black;
        transition: 5s;
    }
    img{
        margin: -100%;
        
    }
}
