.images{
    display: flex;
    justify-content: space-between;
    align-content:center;
    flex-wrap: wrap;
    .image{
        width:180px;
        height: 206px;
        overflow-x: auto;
        overflow-y: auto;
        overflow: hidden;
    }
    img{
        margin: -100%;
    }
}
