.screen {
    transition: 2s;
}
.screen-active{
    right:0px;
    position: relative;
    
}
.screen-inactive{
    position: absolute;
    //right:3000px;
    transform: translate(-1500px,0);
}
#screen-meme-gen{
    display: flex;
    justify-content: center;
    form{
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
canvas {
    background-color: pink;
}